.login {
  background: rgb(34,62,92);
  background: linear-gradient(128deg, rgba(34,62,92,0.7819502801120448) 60%, rgba(40,165,221,1) 95%);
}

.login .img-fluid {
  width: 150px;
  margin-bottom: 36px;
}