.ant-breadcrumb,
.ant-breadcrumb a {
  color: #28A5DD !important;
  font-size: 12px !important;
  transition: 0.3s !important;
  margin-bottom: 9px !important;
}
.ant-breadcrumb a:hover {
  color: #223E5C !important;
}