// test CSS
/* .ant-form-item-label {
  margin-bottom: 0;
  padding: 0 !important;
}
.ant-form-item-label label {
  color: #223E5C;
  font-weight: 700;
}
.ant-input,
.ant-input-password {
  border: unset;
  border-bottom: 2px solid #223E5C;
  border-radius: unset;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0 !important;
}
.ant-input:focus,
.ant-input-affix-wrapper:focus,
.ant-input-password:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: unset !important;
  outline: unset !important;
  border-color: #28A5DD;
}

.ant-select-selector {
  border: none !important;
  background: transparent !important;
}
.ant-select-selector:focus,
.ant-select:focus,
.ant-select-focused .ant-select-selector {
  box-shadow: unset !important;
  outline: none;
}
.ant-select {
  border-bottom: 2px solid #223E5C !important;
}
.ant-select-arrow svg {
  color: #223E5C;
} */

.create-form .input {
  margin-bottom: 16px;
}

.create-form .input label {
  color: #223E5C;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  display: inline-block;
}
.ant-input,
.ant-input-disabled, .ant-input[disabled],
.ant-input-password {
  border: 1px solid #B4B5B8;
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  padding: 11px 16px;
  border-radius: 6px;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  border: none;
}

input.ant-input:focus {
  box-shadow: none !important;
}
input.ant-input:hover {
  border-color: #223E5C;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: unset;
  box-shadow: none;
  border-right-width: 0px;
  outline: 0;
}

.ant-input:focus,
.ant-input-focused {
  border-color: unset;
  box-shadow: none !important;
}

// Text input

// Input Number
.ant-input-number-disabled,
.ant-input-number {
  display: block;
  width: 100%;
  border: 1px solid #B4B5B8;
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  padding: 2px 0;
  border-radius: 6px;
}
.ant-input-number input {
  font-weight: 600;
}
.ant-input-number-focused,
.ant-input-number:hover {
  border: 1px solid #000 !important;
  box-shadow: unset;
}

// Password Input
.ant-input-password {
  border: 1px solid #B4B5B8;
  padding: 11px 16px !important;
}
.ant-input-password 
.ant-input:focus,
.ant-input-affix-wrapper:focus,
.ant-input-password:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: unset !important;
  outline: unset !important;
  border-color: #223E5C;
}

// Date Picker
.ant-picker-disabled,
.ant-picker {
  padding: 11px 16px;
  padding-left: 8px !important;
  background: #ffffff !important;
  border: 1px solid #b4b5b8 !important;
  border-radius: 5px;
  margin: 0 8px;
}
.ant-picker-disabled .ant-picker-input input,
.ant-picker-input input {
  padding: 0 5px;
  font-weight: 600;
  color: #000;
}

.ant-picker-focused {
  border-color: unset;
  box-shadow: unset;
  border-right-width: 1px;
  outline: 0;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: unset;
  border-right-width: 1px;
}

.ant-picker svg {
  fill: #223E5C;
}

// SELECT INPUT
.create-form .ant-select {
  display: block;
  width: 100%;
  border: 1px solid #b4b5b8;
  border-radius: 6px;
  padding: 2px 0;
}
.create-form .ant-select svg {
  fill: #223E5C;
}
.create-form .ant-select.ant-select-focused .ant-select-selector {
  box-shadow: unset !important;
}
.create-form .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: unset;
  background-color: #fff;
  color: #000;
}
.create-form .ant-select-selection-item {
  font-weight: 600;
}

// FILE
input[type="file"] {
  display: none;
}
.input.file label  {
  display: flex;
  align-items: center;
  justify-content: center;
}
label.file {
  border: 2px dashed #28A5DD;
  border-radius: 5px;
  width: 100%;
  padding: 11px;
  color: #223E5C;
  text-align: center;
  cursor: pointer;
}
label.file svg {
  margin-left: 22px;
  color: #28A5DD;
  font-size: 30px;
}

// Image Upload
.ant-btn.image-upload:hover,
.ant-btn.image-upload {
  width: 100%;
  border: 2px dashed #28A5DD !important;
  border-radius: 5px;
  padding: 11px 30px;
  color: #223E5C;
  background: #fff !important;
  font-weight: 500;
  height: auto;
  display: flex;
  align-items: center;
}
.ant-btn.image-upload svg {
  color: #28A5DD;
  font-size: 30px;
}

// Is Active
.create-form .input.is-active label {
  margin-right: 25px;
}

// Prefix Selector
.create-form .ant-input-wrapper {
  border: 1px solid #B4B5B8;
  border-radius: 8px;
}
.create-form .ant-input-group-wrapper .ant-select {
  border: unset;
  padding: 0;
}
.create-form .ant-input-group-wrapper .ant-select-focused .ant-select-selector {
  border: unset !important;
}
.create-form .ant-input-group-addon,
.create-form .ant-input-wrapper .ant-input {
  border: unset;
}
.create-form .ant-input-wrapper .ant-input {
  border-left: 1px solid #B4B5B8;
}