input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.create-form .input {
  margin-bottom: 16px;
}

.create-form .input label {
  color: #223E5C;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  display: inline-block;
}
.ant-input,
.ant-input-disabled, .ant-input[disabled],
.ant-input-password {
  border: 1px solid #B4B5B8 !important; 
  background-color: #fff !important;
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 600 !important;
  padding: 11px 16px !important;
  border-radius: 6px !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  border: none;
  padding-right: 16px !important;
}

input.ant-input:focus {
  box-shadow: none !important;
}
input.ant-input:hover {
  border-color: #223E5C !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: unset !important;
  box-shadow: none !important;
  border-right-width: 0px !important;
  outline: 0 !important;
}

.ant-input:focus,
.ant-input-focused {
  border-color: unset !important;
  box-shadow: none !important;
}

// Text input

// Input Number
.ant-input-number-disabled,
.ant-input-number {
  display: block !important;
  width: 100% !important;
  border: 1px solid #B4B5B8 !important;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 600 !important;
  padding: 2px 0 !important;
  border-radius: 6px !important;
}
.ant-input-number input {
  font-weight: 600;
}
.ant-input-number-focused,
.ant-input-number:hover {
  border: 1px solid #000 !important;
  box-shadow: unset;
}

// Password Input
.ant-input-affix-wrapper {
  border: 1px solid #B4B5B8 !important;
  padding: 1px !important;
  padding-right: 0 !important;
}
.ant-input-affix-wrapper.ant-input-password {
  border: 1px solid #B4B5B8 !important;
  padding: 0 16px 0 0 !important;
}
// .ant-input-password {
//   border: 1px solid #B4B5B8 !important;
//   padding: 11px 16px !important;
// }
.ant-input-affix-wrapper .ant-input {
  border: unset !important;
}
.ant-input-password 
.ant-input:focus,
.ant-input-affix-wrapper:focus,
.ant-input-password:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: unset !important;
  outline: unset !important;
  border-color: #223E5C !important;
}

// Date Picker
.ant-picker-disabled,
.ant-picker {
  padding: 11px 16px !important;
  padding-left: 8px !important;
  background: #ffffff !important;
  border: 1px solid #b4b5b8 !important;
  border-radius: 5px !important;
  margin: 0 8px !important;
}
.ant-picker-disabled .ant-picker-input input,
.ant-picker-input input {
  padding: 0 5px !important;
  font-weight: 600 !important;
  color: #000 !important;
}

.ant-picker-focused {
  border-color: unset !important;
  box-shadow: unset !important;
  border-right-width: 1px !important;
  outline: 0 !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: unset !important;
  border-right-width: 1px !important;
}

.ant-picker svg {
  fill: #223E5C;
}

// SELECT INPUT
.create-form .ant-select {
  display: block !important;
  width: 100% !important;
  border: 1px solid #b4b5b8 !important;
  border-radius: 6px !important;
  padding: 2px 0 !important;
}
.create-form .ant-select svg {
  fill: #223E5C;
}
.create-form .ant-select.ant-select-focused .ant-select-selector {
  box-shadow: unset !important;
}
.create-form .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: unset !important;
  background-color: #fff !important;
  color: #000 !important;
}
.create-form .ant-select-selection-item {
  font-weight: 600 !important;
}

// FILE
input[type="file"] {
  display: none;
}
.input.file label  {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
label.file {
  border: 2px dashed #28A5DD;
  border-radius: 5px !important;
  width: 100% !important;
  padding: 11px !important;
  color: #223E5C;
  text-align: center;
  cursor: pointer;
}
label.file svg {
  margin-left: 22px;
  color: #28A5DD;
  font-size: 30px;
}

// Image Upload
.ant-btn.image-upload:hover,
.ant-btn.image-upload {
  width: 100%;
  border: 2px dashed #28A5DD !important;
  border-radius: 5px;
  padding: 11px 30px;
  color: #223E5C;
  background: #fff !important;
  font-weight: 500;
  height: auto;
  display: flex;
  align-items: center;
}
.ant-btn.image-upload svg {
  color: #28A5DD;
  font-size: 30px;
}

// Is Active
.create-form .input.is-active label {
  margin-right: 25px;
}

// Prefix Selector
.create-form .ant-input-wrapper {
  border: 1px solid #B4B5B8 !important;
  border-radius: 8px !important;
}
.create-form .ant-input-group-wrapper .ant-select {
  border: unset !important;
  padding: 0 !important;
}
.create-form .ant-input-group-wrapper .ant-select-focused .ant-select-selector {
  border: unset !important;
}
.create-form .ant-input-group-addon {
  border: unset !important;
  width: 100px !important;
  border-right: 1px solid #B4B5B8 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.create-form .ant-input-wrapper .ant-input {
  border: unset !important;
}
.ant-input-group-addon .ant-select {
    margin: 0 !important;
}
// .create-form .ant-input-wrapper .ant-input {
//   border-left: 1px solid #B4B5B8 !important;
// }

.create-form .ant-select-item-option-content {
  font-weight: 600 !important;
  color: #000 !important;
}

// Handling Error
.create-form .input {
  position: relative;
}
.create-form .input .error-sign {
  position: absolute;
  right: 11px;
  bottom: 34px;
  display: none;
}
.create-form .input.error .error-sign {
  display: block;
}
.create-form .input.svg-input .error-sign {
  right: 40px;
}
.create-form .input.error .ant-input,
.create-form .input.error .ant-input-number,
.create-form .input.error .ant-input-affix-wrapper,
.create-form .input.error .ant-picker,
.create-form .input.error .ant-input-wrapper,
.create-form .input.error .ant-select,
.create-form .input.error .ant-input-password {
  border-color: #D0342C !important;
}
.create-form small {
  color: #D0342C;
  font-weight: 500;
}